.normal {
  background-color: #a8a878;
}
.fighting {
  background-color: #bf2f28;
}
.flying {
  background-color: #a890ef;
}
.poison {
  background-color: #a03fa0;
}
.ground {
  background-color: #e0bf67;
}
.rock {
  background-color: #b89f38;
}
.bug {
  background-color: #a7b821;
}
.ghost {
  background-color: #705798;
}
.steel {
  background-color: #b8b7cf;
}
.fire {
  background-color: #f08031;
}
.water {
  background-color: #6890ef;
}
.grass {
  background-color: #77c850;
}
.electric {
  background-color: #f7d030;
}
.psychic {
  background-color: #f75888;
}
.ice {
  background-color: #97d8d8;
}
.dragon {
  background-color: #6f38f7;
}
.dark {
  background-color: #705848;
}
.fairy {
  background-color: #fdbae9;
}
